@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

#login-form-wrap {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 35%;
  margin: auto;
  top: 200px;
  align-items: center;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
}

#password {
  top: 10px;
}

#login {
  top: 30px;
}

input {
  font-family: "Montserrat", sans-serif;
  display: block;
  width: 100%;
  outline: none;
  height: 50px;
  border-radius: 4px;
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #8a8b8e;
  border: none;
  border-bottom: 1px solid #8a8b8e;
  border-radius: 0;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #3ca9e2;
}

input[type="email"]:focus:invalid,
input[type="password"]:focus:invalid {
  color: #cc1e2b;
  border-color: #cc1e2b;
}

input[type="email"]:valid ~ .validation,
input[type="password"]:valid ~ .validation {
  display: block;
  border-color: #0c0;
}

input[type="email"]:valid ~ .validation span,
input[type="password"]:valid ~ .validation span {
  background: #0c0;
  position: absolute;
  border-radius: 6px;
}

input[type="text"]:valid ~ .validation span:first-child,
input[type="password"]:valid ~ .validation span:first-child {
  top: 30px;
  left: 14px;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="text"]:valid ~ .validation span:last-child,
input[type="password"]:valid ~ .validation span:last-child {
  top: 35px;
  left: 8px;
  width: 11px;
  height: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.validation {
  display: none;
  position: absolute;
  content: " ";
  height: 60px;
  width: 30px;
  right: 15px;
  top: 0px;
}

input[type="submit"] {
  border: none;
  display: block;
  background-color: #0d0d0d;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  padding: 15px 40px;
}

input[type="submit"]:hover {
  background-color: #000000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.forgot-pass {
  cursor: pointer;
  color: #8a8b8e;
  top: 100px;
}

#create-account-wrap {
  position: relative;
  top: 50px;
  color: #8a8b8e;
  font-size: 14px;
  width: 100%;
}

#register {
  top: 10px;
  border: none;
  display: block;
  background-color: #fff;
  color: #0d0d0d;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

#register:hover {
  background-color: wheat;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
